ion-header{
    padding: $space-6;
    .sc-ion-searchbar-md-s{
        padding: 0;
        margin-bottom: $space-6;
        button{
            width: auto;
        }
    }
}
.plantlist-wrapper{
    margin: 0;
    padding: $space-6;
    list-style: none;
    >:first-child{
        position: relative !important;
    }
    .plant-result-card{
        margin-bottom: $space-6;
    }
}
.search-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
